{% extends 'quiz/general.html' %}

{% block content %}
<div class="container">
  {% if message %}
    <p>{{ message }}</p>
    {% include 'quiz/pagination.html' with page=questions %}
  {% elif questions %}
     <form method="post">
       {% csrf_token %}
       {% for question in questions %}
       <p><b>{{ question.text }}</b></p>
         {% for answer in answers %}
         <p><input type="checkbox" name='input' id={{answer.text}}
                   value="{{page}},{{quiz_pk}},{{question.id}},{{answer.id}}">
             <label for={{answer.text}}>{{answer.text}}</label></p>
         {% endfor %}
      <p><input type="submit" value="Ответить"></p>
    {% endfor %}
     </form>
  {% else %}
    <p>Для данного теста пока нет вопросов.</p>
  {% endif %}
</div>
{% endblock %}
